/* @font-face {
  font-family: 'Ambit-Regular';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Ambit-Regular.ttf') format("ttf");
}

@font-face {
  font-family: 'PolySansSlim';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/PolySansSlim.ttf') format("ttf");
} */

/* Previous fonts above */

@font-face {
  font-family: 'PolySansSlim';
  src: url('/fonts/PolySans-Slim.woff2') format('woff2'),
    url('/fonts/PolySans-Slim.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('/fonts/Ambit-SemiBold.woff2') format('woff2'),
    url('/fonts/Ambit-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('/fonts/Ambit-Regular.woff2') format('woff2'),
    url('/fonts/Ambit-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('/fonts/Ambit-Bold.woff2') format('woff2'),
    url('/fonts/Ambit-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: Ambit, Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

/* * {
  outline: 1px dotted #f00 !important;
} */

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: white;
}

/* a:hover,
a:active,
a:visited {
  color: #30323D;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  @media only screen and (min-width: 675px) {
    bottom: 120px !important;
  }
}

.swiper h1 {
  color: #fff;
  max-width: 75%;
  margin-bottom: 3rem;
}

.swiper p {
  color: #fff;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

.swiper .swiper-slide h1 {
  text-transform: initial
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
}

.swiper .swiper-pagination-bullet-active {
  color: rgb(255, 255, 255);
  background: #ffffff;
}

.lineParent {
  overflow: hidden;
}

.split_outer {
  overflow: hidden;
}

.split_inner {
  display: inline-block;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  background-color: #32373e;
  color: white;
}

.our-podcasts-wrapper .css-i4bv87-MuiSvgIcon-root {
  color: white;
}

/* .our-podcasts-wrapper .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
    background-color: #00AFEE;
    color: white;
}

.our-podcasts-wrapper .css-o4b71y-MuiAccordionSummary-content p {
    text-transform: uppercase;
} */


.screen-reader-text {
  visibility: hidden
}