// .box {
//   width: 100px;
//   height: 80px;
//   text-align: center;
//   line-height: 80px;
//   background-color: white;
//   border-radius: 8px;
//   color: #222;
//   font-weight: 700;
//   margin-left: 20px;
//   will-change: transform;
// }

// .box.active {
//   background-color: orange;
//   border: 2px solid white;
// }

// .description,
// .final {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 10px;
//   min-height: 80vh;
// }

@mixin full-screen-pseudo-element {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.horizontalWrapper {
  @apply relative bg-FABlue;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  &:before {
    left: 0;
    background: linear-gradient(to left, rgba(0, 175, 238, 0), rgba(0, 175, 238, 1));
  }

  &:after {
    right: 0;
    background: linear-gradient(to right, rgba(0, 175, 238, 0), rgba(0, 175, 238, 1));
  }

  .svgBg {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 300%;
    transform: translateY(-50%);
    display: inline-block;

    @media (--media-min-medium) {
      display: inline-block;
    }
  }
}

.horizontalContainer {
  width: 300%;
  height: calc(100vh - 81px);
  display: flex;
  flex-wrap: nowrap;

  @apply text-white relative;

  &__first_panel {
    @apply w-full h-full flex justify-center text-center relative;

    &_column {
      @apply flex-1 flex items-center justify-center flex-col gap-6 p-24;

      h1 {
        @apply text-6xl font-bold uppercase;
      }

      h3 {
        @apply text-3xl;
      }
    }
  }

  &__panel {
    @apply w-full h-full flex justify-center text-center relative;

    &_column {
      @apply flex-1 py-12 px-24;
      display: grid;
      grid-template-rows: 1fr 1fr;

      &_text {
        @apply flex flex-col items-center justify-center;

        p {
          @apply text-xl;
        }

        h3 {
          @apply text-2xl font-bold mb-4 uppercase;
        }
      }
    }
  }
}


/* HEADINGS */
.header-section {
  padding: 0 15px;
  text-align: center;
  margin: 40vh auto 50vh;
}

.arrow-right {
  transform: rotate(-90deg);
  position: relative;
  top: -4px;
  margin: 1rem auto;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}
