
.testimonialsWrapper {
  width: 100%;
  @apply bg-FAGrey;
  position: relative;
  height: 100%;
  overflow: hidden;
  margin-bottom: 3rem;
}

.soundwaveGraphic {
  position: absolute;
  width: 200%;
  height: 100%;
}