section.tickerTape {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  @media (--media-min-large) {
    font-size: 1.875rem;
  }

  &.home-marquee {
    position: relative;
    padding: 0;
    @media (--media-min-medium) {
      position: absolute;
    }
  }
}

div.tickerTapeInner {
  -webkit-font-smoothing: antialiased;
  width: fit-content;
  display: flex;
  flex: auto;
  flex-direction: row;
  div.tickerTapePart {
    flex-shrink: 0;
    padding: 0 4px;
    font-smooth: always;
  }
}
